<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		@import url(//db.onlinewebfonts.com/c/1064f0ad1cb65fdab43bb592ddd8aa91?family=Gilroy-Bold);
		@media screen and (max-device-width: 767px) {
			.wrapper {
				height: 100vh;
				padding: 30px;
			}
			.section {
				padding: 30px;
			}
		}
		@media screen and (min-device-width: 767px) {
			.wrapper {
				padding-top: 100px;
				padding-bottom: 100px;
			}
			.section {
				padding: 60px;
			}
		}
	</style>
</head>
<body style="margin: 0;">
	<div class="wrapper" style="background-color: #f3f3f3;">
		<table class="section" style="margin:0 auto; max-width:570px; width:100%; background: #FFFFFF; border-radius: 6px; border: 1px solid #D8D8D8;">
			<tbody>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="color: #FFFFFF;text-align: left;">
						<div style="display: inline-block;vertical-align: middle;">
							<a href="https://joinshuffle.io" target="_blank">
								<img src="https://joinshuffle.io/images/email_logo.png" alt="" style="width: 129px; height: 25px;">
							</a>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td>
						<div style="margin-top: 30px; margin-bottom: 30px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="font-family: Gilroy-Bold; font-size: 18px; color: #2C2C2C;">
						<div style="display:inline-block; vertical-align: middle;">
							<span>Hey, you've been</span>
						</div>
						<div style="display:inline-block; vertical-align: middle;">
							<span>invited to a Shuffle call!</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit;">
					<td style="font-family: Gilroy; font-size: 14px; color: rgba(44, 44, 44, 0.5); text-align: left; padding-top: 6px; padding-bottom:20px; line-height: 25px;">
						<div style="display:inline-block;">
							<span>{{inviter}} has invited you to a shuffle call. Click the link below to join {{inviter}} on the call. If you have any issues or questions, please reach out to us at support@joinshuffle.io</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
					<td style="text-align: left; padding-top: 25px;">
						<a href={{meetingLink}} target="_blank" style="padding: 8px 28px 8px 28px; align-items: center; background: #00BE5B;border: 0.5px solid rgba(255, 255, 255, 0.1); box-shadow: 3px 2px 4px rgba(13, 14, 22, 0.05); border-radius: 4px; font-size: 12px; text-align: center;font-family: Gilroy-Bold; text-decoration: none; cursor: pointer; color: #fff;display:inline-block">Join the Call</a>
					</td>
				</tr>
				<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
					<td>
						<div style="margin-top: 30px; margin-bottom: 30px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="font-family: Gilroy; font-size: 14px; line-height: 25px; text-align: left;">
						<div style="display:inline-block;">
							<span style="color: rgba(44, 44, 44, 0.5);">Looking for safe and secure video confrencing? Get started creating your own Shuffle meetings for free. Click </span>
							<a style="font-weight: bold; color: #00BE5B;text-decoration: none;" href="https://joinshuffle.io/register" target="_blank">HERE</a>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td>
						<div style="margin-top: 30px; margin-bottom: 30px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="display: contents;">
						<div style="width: 50%; text-align: left; display:inline-block; vertical-align: middle;">
							<div style="display: inline-block; vertical-align: middle;">
								<a href="https://joinshuffle.io" target="_blank">
									<img src="https://joinshuffle.io/images/email_footerlogo.png" alt="" style="width: 120px; height: 23px;">
								</a>
							</div>
						</div>
						<div style="width: 50%; text-align: right; display:inline-block; vertical-align: middle;">
							<div style="display:inline-block; vertical-align: middle;">
								<span style="font-family: Gilroy; font-size: 13px; color: #81868A;">Built by</span>
							</div>
							<div style="display:inline-block;vertical-align: middle;">
								<span style="font-family: Gilroy-Bold; font-size: 13px; color: #2C2C2C;">Axe</span>
							</div>
							<div style="display: inline-block;vertical-align: middle;">
								<img src="https://joinshuffle.io/images/axe_logo.png" alt="" style="width: 26px; height: 26px;">
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>