<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		@import url(//db.onlinewebfonts.com/c/1064f0ad1cb65fdab43bb592ddd8aa91?family=Gilroy-Bold);
		
		@media screen and (max-device-width: 767px) {
			.wrapper {
				height: 100vh;
			}
			.section {
				padding: 30px;
			}
		}
		@media screen and (min-device-width: 767px) {
			.wrapper {
				padding-top: 100px;
				padding-bottom: 100px;
			}
			.section {
				padding: 60px;
			}
		}
	</style>
</head>
<body style="margin: 0; background-color: #f3f3f3;">
	<div class="wrapper">
		<table class="section" style="margin:0 auto; max-width:570px; width:100%; background: #FFFFFF; border-radius: 6px; border: 1px solid #D8D8D8;">
			<tbody>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="color: #FFFFFF;text-align: left;">
						<div style="display: inline-block; vertical-align: middle;">
							<a href="https://joinshuffle.io" target="_blank">
								<img src="https://joinshuffle.io/images/email_logo.png" alt="" style="width: 129px; height: 25px;">
							</a>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td>
						<div style="margin-top: 30px; margin-bottom: 30px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="font-family: Gilroy-Bold; font-size: 18px; color: #2C2C2C;">
						<div style="display:inline-block; vertical-align: middle;">
							<span>Hey {{username}}, welcome to Shuffle!</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit;">
					<td style="font-family: Gilroy; font-size: 14px; color: rgba(44, 44, 44, 0.5); text-align: left; padding-top: 6px; padding-bottom:20px; line-height: 25px;">
						<div style="display:inline-block;">
							<span>Welcome to Shuffle {{username}}. Lets get you started. You selected the free plan, the free plan includes...</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="font-family: Gilroy-Bold; font-size: 16px; padding-top: 25px; color: #2C2C2C;">
						<div style="display:inline-block; vertical-align: middle;">
							<span>Premium Plan Perks and Features</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit;">
					<td style="font-family: Gilroy; font-size: 14px; color: rgba(44, 44, 44, 0.5); text-align: left; padding-left: 25px; padding-top: 10px; line-height: 30px;">
						<div style="display: list-item;padding-bottom:5px;">
							<span>Everything in the free plan</span>
						</div>
						<div style="display: list-item;padding-bottom:5px;">
							<span>Unlimited meeting recordings</span>
						</div>
						<div style="display: list-item;padding-bottom:5px;">
							<span>Custom Meeting Room Branding</span>
						</div>
						<div style="display: list-item;padding-bottom:5px;">
							<span>Up to 100 meeting participants</span>
						</div>
						<div style="display: list-item;padding-bottom:5px;">
							<span>Unlimited one-on-one meetings</span>
						</div>
						<div style="display: list-item;padding-bottom:5px;">
							<span>Unlimited group meetings</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
					<td>
						<div style="margin-top: 20px; margin-bottom: 20px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="font-family: Gilroy; font-weight: 600; font-size: 20px; color: #2C2C2C;">
						<div style="display:inline-block; vertical-align: middle;">
							<span>Tips for getting a jump start!</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit;">
					<td style="font-family: Gilroy; font-size: 16px; color: rgba(44, 44, 44, 0.5); text-align: left; padding-left: 25px; padding-top: 20px; line-height: 30px;">
						<div style="display: list-item;">
							<span>Invite people to video meetings simply by sending them your room link. Send it by email, chat or add it to calendar events for easy access.</span>
						</div>
						<div style="display: list-item;">
							<span>Lock your room for private meetings. Once your room is locked guests need to knock before they can enter the room.</span>
						</div>
						<div style="display: list-item;">
							<span>On the go? Run all of hour shuffle meetings in the mobile browser</span>
						</div>
					</td>
				</tr>
				<tr style="display:table-row;vertical-align:inherit;border-color:inherit">
					<td>
						<div style="margin-top: 30px; margin-bottom: 30px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="font-family: Gilroy; font-size: 16px; line-height: 25px; text-align: left;">
						<div style="display:inline-block;">
							<span style="color: rgba(44, 44, 44, 0.5);">If you have any questions or issue with Shuffle reach out to our team at </span>
							<a style="font-weight: bold; color: #00BE5B;text-decoration: none;" href="mailto:hello@joinshuffle.io">hello@joinshuffle.io</a>
						</div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td>
						<div style="margin-top: 30px; margin-bottom: 30px; display: inline-block; vertical-align: middle; width: 100%; opacity: 0.2; border: 0.5px solid #D8D8D8;"></div>
					</td>
				</tr>
				<tr style="display:table-row; vertical-align:inherit; border-color:inherit">
					<td style="display: contents;">
						<div style="width: 50%; text-align: left; display:inline-block; vertical-align: middle;">
							<div style="display: inline-block; vertical-align: middle;">
								<a href="https://joinshuffle.io" target="_blank">
									<img src="https://joinshuffle.io/images/email_footerlogo.png" alt="" style="width: 120px; height: 23px;">
								</a>
							</div>
						</div>
						<div style="width: 50%; text-align: right; display:inline-block; vertical-align: middle;">
							<div style="display:inline-block; vertical-align: middle;">
								<span style="font-family: Gilroy; font-size: 13px; color: #81868A;">Built by</span>
							</div>
							<div style="display:inline-block;vertical-align: middle;">
								<span style="font-family: Gilroy-Bold; font-size: 13px; color: #2C2C2C;">Axe</span>
							</div>
							<div style="display: inline-block;vertical-align: middle;">
								<img src="https://joinshuffle.io/images/axe_logo.png" alt="" style="width: 26px; height: 26px;">
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>