doctype html
head
  // Title and Icon
  title Shuffle Video Meeting App a Free Secure Video Calls, Chat &amp; Screen Sharing.
  link(rel='shortcut icon' href='images/fav.png')
  link(rel='apple-touch-icon' href='images/fav.png')
  // Meta Information
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Video Meeting App powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop.')
  meta(name='keywords' content='webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting')
  // https://ogp.me
  meta(property='og:type' content='app-webrtc')
  meta(property='og:site_name' content='Shuffle')
  meta(property='og:title' content='Video conferencing made simple')
  meta(property='og:description' content='Easy to use video conferencing, no app downloads or log ins required.')
  // StyleSheet
  link(rel='stylesheet' href='css/font.css')
  link(rel='stylesheet' href='css/landing.css')
.body-wrap
  //
    <header class="site-header border-b">
    <div class="container">
    <div class="site-logo">
    <a href="/" title="Logo">
    <img src="images/logo.svg" alt="Logo" />
    </a>
    </div>
    </div>
    </header>
  .auth-wrap
    form#signinForm(action='/api/auth/signin' method='post')
      input#callbackRoom(type='hidden' name='callbackRoom' value=`${room}`)
      h2 Log in to your account
      p
        | Let's get you logged in! Enter your email and password below to get logged back in to your account
      input#email(type='text' name='email' placeholder='Enter Email Address')
      div.pass-wrap
        input#password(type='password' name='password' placeholder='Enter Password')
        img#passSetting(src='images/ico_eye.svg' alt='Show')
      
      p#errorMsg 
      button#loginBtn.signup-btn(type='button') 
        span Log In
        img(src='images/loading.gif')

      p.mt-34
        | Don't have an account? Create an account 
        a.herelink(href='/register') HERE
        
script(defer='' src='js/jquery.min.js')
script(defer='' src='js/auth.js')
