doctype html
head
  // Title and Icon
  title Shuffle Video Meeting App a Free Secure Video Calls, Chat &amp; Screen Sharing.
  link(rel='shortcut icon' href='images/fav.png')
  link(rel='apple-touch-icon' href='images/fav.png')
  // Meta Information
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Video Meeting App powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop.')
  meta(name='keywords' content='webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting')
  // https://ogp.me
  meta(property='og:type' content='app-webrtc')
  meta(property='og:site_name' content='Shuffle')
  meta(property='og:title' content='Video conferencing made simple')
  meta(property='og:description' content='Easy to use video conferencing, no app downloads or log ins required.')
  // StyleSheet
  link(rel='stylesheet' href='css/font.css')
  link(rel='stylesheet' href='css/landing.css')
.body-wrap
  header.site-header.border-b
    .container
      .site-logo
        a(href='/' title='Logo')
          img(src='images/logo.svg' alt='Logo')
      .site-topmenu.flex.align-center
        p#cur_time
        div.profile 
          p #{userinfo.username}
          img(src=`${userinfo.usericon}`)

          .sub-menu 
            a(href='/profile') 
              span Account
            a(href='/roomsett') 
              span Room Settings
            a(href='/subscription') 
              span Subscription
            a(href='/records') 
              span Recordings
            a(href='/faq') 
              span Support
            a.logout(href='/logout')
              span Log Out
    
        //- button#logout_btn.signin-btn(onclick="{window.location.href = '/logout'}") Logout
  .profile-wrap.auto-height
    .profile-menu
      p
        a(href='/profile' title='Account') Account
      p
        a(href='/roomsett' title='Room Settings') Room Settings
      p
        a.selected(href='/subscription' title='Subscription') Subscription
      p
        a(href='/records' title='Recordings') Recordings
      p
        a(href='/faq' title='Support') Support
      hr
      p 
        a(href='/logout' title='Log Out') Log Out
      p.delete-link
        a.delete(href='#delete' title='Delete Account') Delete Account
    .profile-content
      h2 Subscription Plan
      p
        | Manage your scription here, you can upgrade or downgrade your plan at any time. 
        | If you have any questions on your subscription plan or billing reach out to us at 
        a.here(href='mailto:hello@joinshuffle.io') hello@joinshuffle.io
      form#profileForm(method='post' action='/api/auth/updatesubscription' enctype='multipart/form-data')
        .profile-plan-wrap
          .profile-plan-item.selected
            .header-section
              h3 Shuffle Premium : $12.99/mo
              if userinfo.plantype == '1'
                button(type='button' onclick='window.location.href="/payment?from=1"') Upgrade
              else
                button(type='button') Current Plan
            .content-section
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Everything in free plan
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Unlimited group meeting time
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Up to 100 meeting participants
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | 5gb of recording cloud storage
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Priority customer service
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Custom room branding
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Live Streaming (in beta)
              p 
                img(src='images/ico_checkwhite.svg' width='22px' height='22px')
                | Exportable registrant and attendee lists (in beta)
          .profile-plan-item
            .header-section
              h3 Shuffle Free : Free forever
              if userinfo.plantype == '1'
                button(type='button') Current Plan
              else 
                button(type='button') Downgrade
            .content-section
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Unlimited 1:1 meetings (time)
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Unlimited number of meetings per month
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Group meetings limit : 45 minutes
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Maximum number of partipants : 10
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Cloud recording storage : 1gb
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Adjustable meeting layouts
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | In meeting screen share
              p 
                img(src='images/ico_check.svg' width='22px' height='22px')
                | Meeting Collabration Tools
    
script(defer='' src='js/jquery.min.js')
script(defer='' src='js/landing.js')
